main{
    margin: 0 15%;
}

/* HEADER */

    header{
        height: 10vh;
        display: flex;
        position: sticky;
        top: 0;
    }

    nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    nav img{
        width: 150px;
        height: auto;
    }

    nav ul{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    nav ul li{
        margin-left: 20px;
    }

    nav ul a{
        text-decoration: none;
        color: var(--text-color);
        transition: font-size 0.3s;
    }

    nav ul a:hover{
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

/* HEADER END */

/* MAIN SECTION */
#main{
    margin-top:40px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main .leftSide{
    flex-basis: 50%;
    padding-right: 40px;
}

#main .rightSide{
    flex-basis: 40%;
}

#main .leftSide .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main .leftSide .header p{
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

#main .leftSide h1{
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 35px;
}

#main .leftSide p{
    margin: 20px 0;
}

#main .leftSide b{
    font-weight: bold;
}

#main .leftSide .header ul{
    display: flex;
}

#main .leftSide .header li{
    width: 35px;
    height: 35px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main .leftSide .header li i{
    font-size: 18px;
    color: var(--text-dark-color);
}

#main .rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .rightSide svg{
    width: 25vw;
}

#main button{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: var(--text-dark-color);
    color: white;
    border: none;
    padding: 14px 28px;  
    font-size: 19px;
    letter-spacing: 1px;
    box-shadow: -5px 5px var(--button-shadow);
    transition: box-shadow 0.2s;
    cursor: pointer;
}

#main button:hover{
    box-shadow: -9px 9px var(--button-shadow);
}


/* MAIN SECTION END */

/* PARTICLE */
#particle-container{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index: -100;
}
/* PARTICLE END */